body {
    margin: auto;
    width: 80%;
    padding-bottom: 10%;
  }

h1 {
  color:rgb(33, 160, 139);
}

#submitbutton {
  margin: 10px;
  border-width: medium;
  font-weight: bold;
}

  
.container {
    margin: auto;
    width: 70%;
    margin-top: 40px
}


.jokediv {
      margin: auto;
      margin-top: 20px;
      width: 80%;
      border: 3px solid rgb(41, 199, 173);
      border-radius: 10px;
      background-color: rgb(41,199,173);
      padding: 40px;
}